.text{
    color: #ff0000;
}
.farbe{
    background-color: #7AC5CD;
}
.container {
    flex-flow: column wrap;
  }
  .container1 {
    justify-content: center;
  }
  .container2 {
    display: flex;
    }
    .text1 {
        margin-left:  260px;
        }
.titel {
    width: 150%;
}

.text2 {
    margin-left: 300px;
}
.buton {
    background-color: #ffffff;
}
.knopfseite {
    margin-left: 900px;
}
.knopfoben {
    margin-bottom: 200px;
}